footer {
  margin-bottom: 4rem;
  text-align: left;
  opacity: 0.7;

  & ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: -1rem 0 0;
    padding: 0;
    list-style: none;
  }
}
